<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <api>
      <services>
        <configuration>
          <allowedControllers>
            <allowedController patch:instead="*[@desc='CampaignController']" desc="CampaignController">Sitecore.Support.Marketing.Campaigns.Services.Controllers.CampaignController, Sitecore.Support.112033</allowedController>
          </allowedControllers>
        </configuration>
      </services>
    </api>
  </sitecore>
</configuration>